.ck-content p {
  font-size: 1em;
  line-height: 1.3em;
  margin: 0;
  padding-top: 0;
  margin-bottom: 0;
}
.ck-content hr {
  margin: 10px 0;
  height: 2px;
  background: hsl(0, 0%, 87%);
  border: 0;
}
.ck-content .table {
  margin: 0.5em auto;
  display: table;
}
